:root {
    --fondo-primario: #252A34;
    --fondo-secundario: #00ADB5;
}

* {
    margin: 0;
    font-family: 'Lato', sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.nav-bar-contenido {
    width: 100%;
    height: 15vh;
    background: var(--fondo-primario);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
}

.nav-logo-contenido {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
}

.nav-logo-contenido h1 {
    margin-left: 20px;
    color: white;
}

.logo-container{
    width: 75px;
    height: 75px;
    border-radius: 10px;
    overflow: hidden;
}

.logo-container img{
    width: 100%;
    height: 100%;
}

.logo {
    display: flex;
    background: var(--fondo-secundario);
    border-radius: 10px;
    width: 65px;
    height: 65px;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 100px;
    height: 100px;
}

.nav-bar-menu ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.nav-bar-menu ul li a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-size: 18px;
}

.nav-bar-menu ul li:before {
    content: "";
    height: 3px;
    width: 0;
    background: var(--fondo-secundario);
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.25s ease-out;
}

.nav-bar-menu ul li:hover::before {
    width: 100%;
}

.nav-bar-menu ul li:last-child:hover::before {
    width: 0;
}

.contact-button a {
    background: var(--fondo-secundario);
    padding: 10px 20px;
    border-radius: 10px;
}

.contact-button {
    transition: ease-out 0.25s;
}

.contact-button:hover {
    transform: scale(110%);
    transition: ease-out 0.5s;
}

.footer-container {
    display: flex;
    justify-content: center;
    background: var(--fondo-primario);
    width: 100%;
}

.footer-section {
    padding: 20px 20px;
    margin: 20px 20px;
    width: 25%;
    color: white;
}

.footer-section h3 {
    margin-bottom: 10px;
}

.footer-section i {
    font-size: 30px;
}

.social-media-line {
    display: flex;
    text-decoration: none;
    color: white;
    align-items: center;
    margin: 10px 0;
}

.social-media-line p {
    margin-left: 10px;
}

.number-section {
    display: flex;
    flex-direction: column;
}

.footer-link-container a, .footer-link-container p {
    color: white;
    text-decoration: none;
    margin-bottom: 5px;
    transition: ease-out 0.25s;
}

.footer-link-container p:hover {
    color: var(--fondo-secundario);
    transform: translate(5%, 0);
    transition: ease-out 0.5s;
}

.gallery-section{
    width: 80%;
    margin: 50px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    grid-gap: 30px;
}

.gallery-section img{
    width: 100%;
    height: 40vh;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
    transition: ease-out 0.25s;
}

.gallery-section img:hover{
    transform: scale(110%);
    transition: ease-out 0.5s;
}

.full-img{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    opacity: 0;
    align-items: center;
    justify-content: center;
    z-index: -99999;
}

.img-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.full-img img{
    max-width: 80%;
    height: 100%;
}

.full-img span{
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

.title{
    text-align: center;
    margin-top: 50px;
    font-size: 24px;
    color: var(--fondo-secundario);
}

.section-divider h2{
    width: 80%;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    color: var(--fondo-secundario);
    font-size: 30px;
}

input{
    display: none;
}

.nav-toggle .bar{
    display: none;
    background-color: white;
    width: 40px;
    height: 5px;
    border-radius: 10px;
}

@media screen and (max-width: 1336px) {
    .logo-container{
        width: 75px;
        height: 75px;
    }

    .nav-logo-contenido h1{
        font-size: 20px;
    }

    .nav-bar-menu ul li a {
        font-size: 14px;
    }

    .nav-bar-menu ul li {
        margin: 0 10px;
    }
}

@media screen and (max-width: 1024px){
    p {
        font-size: 18px;
    }

    .nav-logo-contenido h1{
        font-size: 36px;
    }

    .full-img img{
        width: 80%;
        height: auto;
    }

    .nav-bar-menu ul{
        display: grid;
        position: absolute;
        width: 100%;
        top: 15vh;
        left: 0;
        margin: 0;
        padding: 0;
        transform: translateX(100%);
        transition: 0.5s;
    }

    .nav-bar-menu ul li{
        margin: 0;
        padding: 20px;
        background-color: var(--fondo-primario);
        width: 100%;
        text-align: center;
    }

    .nav-bar-menu ul li a {;
        text-decoration: none;
        color: white;
        font-weight: bolder;
        font-size: 30px;
    }

    .nav-toggle{
        position: absolute;
        right: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 50px;
        height: 50px;
        padding: 10px;
        border-radius: 10px;
    }

    .nav-toggle .bar{
        display: flex;
        transition: 0.5s;
    }

    input:checked ~ .nav-bar-menu ul{
        transform: translateY(0);
        transition: 0.5s;
    }

    input:checked ~ .nav-toggle .bar:nth-child(1){
        position: absolute;
        transform: rotate(45deg);
        transition: 0.5s;
    }
    input:checked ~ .nav-toggle .bar:nth-child(2){
        display: none;
        transition: 0.5s;
    }
    input:checked ~ .nav-toggle .bar:nth-child(3){
        transform: rotate(-45deg);
        transition: 0.5s;
    }

    .contact-button a {
        background: transparent;

    }

    .contact-button:hover {
        transform: none;
    }
}