:root {
    --fondo-primario: #252A34;
    --fondo-secundario: #00ADB5;
}

* {
    margin: 0;
    font-family: 'Lato', sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.header-contenido {
    display: flex;
    height: 100vh;
    color: white;
    background-image: radial-gradient(circle, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url("../img/header-fondo.jfif");
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-bar-contenido {
    width: 100%;
    height: 15vh;
    background: var(--fondo-primario);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    animation: 0.5s ease-out 0s 1 slideFromTop;
}

.nav-logo-contenido {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
}

.logo-container{
    width: 75px;
    height: 75px;
    border-radius: 10px;
    overflow: hidden;
}

.logo-container img{
    width: 100%;
    height: 100%;
}

.nav-logo-contenido h1 {
    margin-left: 20px;
}

.nav-bar-menu ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.nav-bar-menu ul li a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-size: 20px;
}

.nav-bar-menu ul li:before {
    content: "";
    height: 3px;
    width: 0;
    background: var(--fondo-secundario);
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.25s ease-out;
}

.nav-bar-menu ul li:hover::before {
    width: 100%;
}

.nav-bar-menu ul li:last-child:hover::before {
    width: 0;
}

.contact-button a {
    background: var(--fondo-secundario);
    padding: 10px 20px;
    border-radius: 10px;
}

.contact-button {
    transition: ease-out 0.25s;
}

.contact-button:hover {
    transform: scale(110%);
    transition: ease-out 0.5s;
}

@keyframes slideFromTop {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}


.services-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.services-section h2 {
    margin-top: 50px;
    font-size: 30px;
    color: var(--fondo-secundario);
}

.services-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.services-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 25px 25px;
    padding: 25px;
    transition: ease-out 0.25s;

    width: 25vw;
    height: 30vh;
    border: 1px solid black;
    border-radius: 10px;
}

.services-item:hover {
    transform: scale(110%);
    transition: ease-out 0.5s;
}

.services-item i {
    display: inline-block;
    font-size: 30px;
    margin-right: 10px;
}

.services-item h2 {
    display: inline-block;
    margin: 0;
    font-size: 30px;
}

.services-item p {
    margin-top: 20px;
    text-align: left;
    font-size: 20px;
}

.see-more {
    background: var(--fondo-secundario);
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    font-weight: 700;
    transition: ease-out 0.5s;
}

.see-more:hover {
    transform: scale(110%);
    transition: ease-out 0.25s;
}

.banner {
    position: relative;
    height: 35vh;
    width: 100%;
    object-fit: cover;
    background: url("../img/activities/rafting.jpg") no-repeat 50% 35%;
    background-size: cover;
    margin-top: 50px;
    overflow: hidden;
}

.banner img{
    width: 100%;
    height: 100%;
    transform: translateY(-25%);
}

.banner h2 {
    position: absolute;
    left: 0;
    bottom: 5%;
    background: var(--fondo-secundario);
    color: white;
    font-size: 24px;
    padding: 10px;
    border-radius: 0 10px 10px 0;
}

.banner a {
    position: absolute;
    background: var(--fondo-secundario);
    color: white;
    font-weight: bolder;
    text-decoration: none;
    padding: 10px 20px 10px 10px;
    border-radius: 10px 0 0 10px;
    transition: ease-out 0.25s;
    font-size: 24px;
    right: 0;
    top: 50%;
}

.banner a:hover {
    padding-right: 50px;
    transition: ease-out 0.5s;
}

.gallery-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.gallery-section h2 {
    margin-top: 50px;
    font-size: 30px;
    color: var(--fondo-secundario);
}

.gallery-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.gallery-item {
    display: flex;
    flex-direction: column;
    margin: 25px 25px;
    overflow: hidden;
    width: 25vw;
    height: 30vh;
    border: 1px solid black;
    border-radius: 10px;
    background: var(--fondo-secundario);
}

.gallery-item img {
    object-fit: cover;
    min-height: 100%;
    min-width: 100%;
    border-radius: 10px;
}

.gallery-item > div {
    width: 100%;
    color: white;
    text-align: center;
    background: var(--fondo-primario);
    border-radius: 10px;
    padding: 10px;
    transition: ease-out 0.25s;
}

.gallery-item:hover > div {
    transform: translate(0, -100%);
    transition: ease-out 0.5s;
}

.map-container {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.map-container h2 {
    margin-top: 50px;
    font-size: 30px;
    color: var(--fondo-secundario);
}

.map-container iframe {
    margin-top: 20px;
    margin-bottom: 50px;
    width: 100%;
}

.footer-container {
    display: flex;
    justify-content: center;
    background: var(--fondo-primario);
    width: 100%;
}

.footer-section {
    padding: 20px 20px;
    margin: 20px 20px;
    width: 25%;
    color: white;
}

.footer-section h3 {
    margin-bottom: 10px;
}

.footer-section i {
    font-size: 30px;
}

.social-media-line {
    display: flex;
    text-decoration: none;
    color: white;
    align-items: center;
    margin: 10px 0;
}

.social-media-line p {
    margin-left: 10px;
}

.number-section {
    display: flex;
    flex-direction: column;
}

.footer-link-container a, .footer-link-container p {
    color: white;
    text-decoration: none;
    margin-bottom: 5px;
    transition: ease-out 0.25s;
}

.footer-link-container p:hover {
    color: var(--fondo-secundario);
    transform: translate(5%, 0);
    transition: ease-out 0.5s;
}

.place {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 20px;
}

.slider-container{
    position: relative;
}

.place-category {
    margin-bottom: 20px;
    margin-top: 50px;
    font-size: 30px;
    text-align: center;
    color: var(--fondo-secundario);
}

.place-container {
    padding: 0 10vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.place-container::-webkit-scrollbar {
    display: none;
}

.place-card {
    flex: 0 0 auto;
    overflow-y: hidden;
    width: 20vw;
    height: 30vh;
    margin: 0 15px;
    border-radius: 10px;
    border: 1px solid black;
}

.place-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.place-card > div {
    width: 100%;
    color: white;
    text-align: center;
    background: var(--fondo-primario);
    border-radius: 10px;
    padding: 10px;
    transition: ease-out 0.25s;
}

.place-card:hover > div {
    transform: translate(0, -100%);
    transition: ease-out 0.5s;
}

.pre-btn,
.nxt-btn {
    border: none;
    width: 10vw;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
    cursor: pointer;
    z-index: 8;
}

.pre-btn {
    left: 0;
    transform: rotate(180deg);
}

.nxt-btn {
    right: 0;
}

.pre-btn img,
.nxt-btn img {
    opacity: 0.5;
}

.pre-btn:hover img,
.nxt-btn:hover img {
    opacity: 1;
}

.place-button-containter{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.see-more-places{
    background: var(--fondo-secundario);
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    font-weight: 700;
    transition: ease-out 0.5s;
}

.see-more-places:hover {
    transform: scale(110%);
    transition: ease-out 0.25s;
}

@media screen and (max-width: 1250px){
    .logo-container{
        width: 50px;
        height: 50px;
    }

    .nav-logo-contenido h1{
        font-size: 24px;
    }

    .nav-bar-menu ul li a {
        font-size: 16px;
    }

    .place-category{
        font-size: 24px;
    }

    .place-card{
        width: 30vw;
        height: 25vh;
    }

    .see-more-places{
        font-size: 16px;
    }

    .services-section h2{
        font-size: 24px;
    }

    .services-item h2 {
        font-size: 20px;
    }

    .services-item p {
        font-size: 16px;
    }

    .see-more{
        font-size: 16px;
    }

    .banner h2, .banner a{
        font-size: 20px;
    }

    .gallery-section h2{
        font-size: 24px;
    }

    .gallery-item{
        width: 25vw;
        height: 25vh;
    }

    .map-container h2{
        font-size: 24px;
    }
}

@media screen and (max-width: 1336px){
    .logo-container{
        width: 75px;
        height: 75px;
    }

    .nav-logo-contenido h1{
        font-size: 20px;
    }

    .nav-bar-menu ul li a {
        font-size: 14px;
    }

    .nav-bar-menu ul li {
        margin: 0 10px;
    }

    .place-category{
        font-size: 30px;
    }

    .place-card{
        width: 30vw;
        height: 20vw;
    }

    .see-more-places{
        font-size: 16px;
    }

    .services-section h2{
        font-size: 24px;
    }

    .services-item h2 {
        font-size: 20px;
    }

    .services-item p {
        font-size: 16px;
    }

    .see-more{
        font-size: 16px;
    }

    .banner h2, .banner a{
        font-size: 20px;
    }

    .gallery-section h2{
        font-size: 24px;
    }

    .gallery-item{
        width: 25vw;
        height: 20vw;
    }

    .map-container h2{
        font-size: 24px;
    }
}

@media screen and (max-width: 1024px){
    .logo-container{
        width: 100px;
        height: 100px;
    }

    .nav-logo-contenido h1{
        font-size: 30px;
    }

    .nav-bar-menu ul li a {
        display: none;
    }

    .place-category{
        font-size: 30px;
    }

    .place-card{
        width: 50vw;
        height: 35vw;
    }

    .see-more-places{
        font-size: 24px;
    }

    .services-section h2{
        font-size: 30px;
    }

    .services-item{
        margin: 10px;
        padding: 10px;
        height: 35vw;
        width: 28vw;
    }

    .services-item i{
        font-size: 30px;
        width: 100%;
        margin-bottom: 10px;
        text-align: center;
    }

    .services-item h2 {
        font-size: 30px;
        width: 100%;
        text-align: center;
    }

    .services-item p {
        font-size: 20px;
    }

    .see-more{
        font-size: 24px;
    }

    .banner h2, .banner a{
        font-size: 30px;
    }

    .gallery-section h2{
        font-size: 24px;
    }

    .gallery-item{
        margin: 10px;
        width: 28vw;
        height: 35vw;
    }

    .map-container h2{
        font-size: 30px;
    }
}